<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mi perfil</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="MostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mi perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-content>
    <img src="https://e7.pngegg.com/pngimages/981/645/png-clipart-default-profile-united-states-computer-icons-desktop-free-high-quality-person-icon-miscellaneous-silhouette.png"alt="Foto de perfil">
  </ion-card-content>


    <ion-card-content>
      <ion-card-header>
        Detalles del Perfil
      </ion-card-header>
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-text>-------</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Correo:</ion-label>
        <ion-text>----------</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Sede:</ion-label>
        <ion-text>--------</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Rut:</ion-label>
        <ion-text>-----------</ion-text>
      </ion-item>
    </ion-card-content>


</ion-content>