<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="MostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button 
        defaultHref="/"
        text="volver"
        color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header">
    <p class="title">Tu información</p>
  </div>
 
  <ion-card-content>
    <img src="https://e7.pngegg.com/pngimages/981/645/png-clipart-default-profile-united-states-computer-icons-desktop-free-high-quality-person-icon-miscellaneous-silhouette.png"alt="Foto de perfil">
  </ion-card-content>

  <ion-item>
    <ion-label>
      <h2>Email</h2>
      <p>{{ usuario.email }}</p>
    </ion-label>
    <ion-icon name="mail-outline"></ion-icon>
  </ion-item>

  <ion-item > 
          <ion-label>
            <h2>Sede</h2>
            <ion-select aria-label="Fruit" interface="action-sheet"  placeholder="{{ usuario.sede }}" [(ngModel)]="usuario.sede">
              <ion-select-option value="alameda">Alameda</ion-select-option>
              <ion-select-option value="antonio-varas">Antonio Varas</ion-select-option>
              <ion-select-option value="maipu">Maipú</ion-select-option>
              <ion-select-option value="melipilla">Melipilla</ion-select-option>
              <ion-select-option value="alonso-valle">Padre Alonso de Ovalle</ion-select-option>
              <ion-select-option value="plaza-oeste">Plaza Oeste</ion-select-option>
              <ion-select-option value="plaza-vespucio">Plaza Vespucio</ion-select-option>
              <ion-select-option value="plaza-norte">Plaza Norte</ion-select-option>
              <ion-select-option value="puente-alto">Puente Alto</ion-select-option>
              <ion-select-option value="san-bernardo">San Bernardo</ion-select-option>
              <ion-select-option value="apoquindo">San Carlos de Apoquindo</ion-select-option>
              <ion-select-option value="san-joaquin">San Joaquín</ion-select-option>
            </ion-select>
          </ion-label>
          <ion-icon name="globe-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>Rut</h2>
      <p> {{ usuario.rut }} </p>
    </ion-label>
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-item>

  <ion-item *ngIf="usuario.rol == 'Conductor'">
    <ion-label>
      <h2>Patente</h2>
      <p> {{usuario.patente}} </p>
    </ion-label>
    <ion-icon name="car-sport-outline"></ion-icon>
  </ion-item>

  <ion-button size="small" shape="round" *ngIf="usuario.rol == 'Pasajero'" (click)="updatePasajero()">Actualizar</ion-button>
  <ion-button size="small" shape="round" *ngIf="usuario.rol == 'Conductor'" (click)="actualizarConductor()">Actualizar</ion-button>
</ion-content>