<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="MostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-back-button 
        defaultHref="/"
        text="volver"
        color="primary"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="header">
    <p class="title">TeLlevoAPP</p>
    <p class="subTitle">Acerca de nosotros</p>
  </div>

  <div class="container">
    <ion-img src="assets/logo.png"></ion-img>
  </div>

  <div>
    <p class="ion-text-justify">TeLlevoAPP está dirigida a la comunidad de estudiantes de Duoc UC. Está diseñada para aquellos que desean una forma segura y eficiente de llegar a la institución o regresar a casa. Los estudiantes pueden ser conductores y compartir sus rutas o pasajeros que buscan un viaje cómodo y asequible. En TeLlevoAPP, la seguridad y la colaboración son fundamentales, creando un entorno de viaje confiable y amigable.</p>
  </div>

</ion-content>
