<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="MostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">información</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-text color="primary" class="ion-text-center">
      <h1>Sobre nosotros</h1>
    </ion-text>
    <ion-card-content>
      <ion-text color="medium" class="ion-text-justify">
        <p>Te damos la bienvenida a TeLlevoAPP, la solución móvil disponible tanto en Android como en iOS para alumnos de DuocUC, diseñada para que tengan el control de su regreso a casa. Si eres uno de los afortunados con movilización propia, con nuestra aplicación puedes planificar tu viaje de regreso de manera conveniente.
          ¿No cuentas con un vehículo propio? ¡No hay problema! TeLlevoAPP también tiene cubierto ese aspecto. Simplemente ingresa a la aplicación y busca entre los vehículos disponibles para transportarte. Si en ese momento no encuentras una opción, no te preocupes, puedes volver a intentarlo en otro momento. Cuando encuentres un vehículo con espacio suficiente, solicita tu lugar y prepárate para un viaje compartido con tus compañeros.
          El proceso es sencillo: una vez que se confirma que hay capacidad de transporte, todos los alumnos involucrados se reúnen y realizan el pago correspondiente. Luego, ¡es hora de comenzar la travesía hacia casa! No solo estarás reduciendo el tiempo que antes destinabas a encontrar transporte, además, al utilizar TeLlevoAPP, estás contribuyendo activamente a la reducción de la huella de carbono, promoviendo así un impacto positivo en nuestro entorno.
          Únete a la comunidad de alumnos comprometidos con un regreso seguro, eficiente y amigable con el medio ambiente. TeLlevoAPP te invita a ser parte de una experiencia que va más allá de la movilización, creando un espacio donde la colaboración y el compañerismo se fusionan para hacer que cada día de clases cuente.</p>
      </ion-text>
    </ion-card-content>
  </ion-content>

</ion-content>
